p {
  color: darkturquoise;
}
h1 {
  color: deepskyblue;
  font-size: 40px;
  font-style: oblique;
  
}
h2 {
 color : darkorchid ;
 font-size:30px;
 font-style: italic;
}
h3 {
 color : deeppink ;
 font-size:20px;
 font-style: italic;
  
}
