p {
  color: darkturquoise;
}
h1 {
  color: deepskyblue;
  font-size: 50px;
  font-style: oblique;
  
}
h2 {
 color : darkorchid ;
 font-size:40px;
 font-style: italic;
}
h3 {
 color : deeppink ;
 font-size:40px;
 font-style: italic;
  
}
